<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutOutputDuringTests="true"
    bootstrap="tests/bootstrap.php"
    cacheResultFile="phpunit/.phpunit.cache"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    processIsolation="false"
    stopOnFailure="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Deconstructor Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="/tmp"
              processUncoveredFiles="false"
              pathCoverage="true"
              disableCodeCoverageIgnore="true"
        >
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <html outputDirectory="phpunit/coverage/html"/>
            <text outputFile="phpunit/coverage/coverage.txt"/>
            <clover outputFile="phpunit/coverage/clover.xml"/>
            <cobertura outputFile="phpunit/coverage/cobertura.xml"/>
            <crap4j outputFile="phpunit/coverage/crap4j.xml" threshold="50"/>
            <xml outputDirectory="phpunit/coverage/xml"/>
            <php outputFile="phpunit/coverage/coverage.php"/>
        </report>

    </coverage>

    <logging>
        <testdoxHtml outputFile="phpunit/logging/html.html"/>
        <testdoxText outputFile="phpunit/logging/testdox.txt"/>
        <text outputFile="phpunit/logging/text.txt"/>
    </logging>
</phpunit>
